.bg-purple{
    background-color: rgb(136, 31, 234);
}


.container{
    justify-content: center;
}

/* #collapsibleNavId{
    justify-content: center;
} */

#collapsibleNavId{
    width: 1px;
}


.parrafo{
    display: flex;
    justify-content: center;
    font-size: 30;
    margin-top: 20px;
}

.galeria img{
    width: 100%;
}

.card-size{
    width: 250px;
    height: 300px;
    margin: 5px;
}

